*{
    margin:0;
    padding:0;
    font-family:helvetica;
    box-sizing:border-box;
}

h1, h2{
    margin-bottom:20px;
}

h3{
    margin:20px 0px;
}

#logo{
    margin-bottom:0px;
    color:#fff;
    font-family:palatino;
    padding-left:10px;
}

header{
    background:url(img/aperture-vintage-212345-unsplash.jpg);
    background-position: center center;
    position:relative;
    padding:0px 10px 10px 0px;
}

nav{
    position:absolute;
    top:10px;
    right:10px;
}

nav ul{
    list-style:none;
}

nav li{
    display:inline-block;
}

nav a{
    display:block;
    text-decoration:none;
    color:#fff;
    padding:0px 10px;
}

nav a:hover{
    color:#000;
}

.container{
    max-width:750px;
    margin:0px auto;
    padding:100px 0px;
}

.container:after{
    content:"";
    display:block;
    clear:both;
}

#obj{
    background-image:url(img/jari-hytonen-535479-unsplash.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: center center;
    color:#fff;
}

#exp{
    background-image:url(img/zoltan-kovacs-270474-unsplash.jpg);
    background-size:cover;
    background-attachment:fixed;
    color:#fff;
    
}

.overlay1{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0));
}

.overlay2{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
}

.bioimg{
    width:25%;
    float:left;
}

.bioimg img{
    width:100%;
}

.biotext{
    width:75%;
    float:left;
    padding-left:40px;
    color:#fff;
}

